@font-face {
    font-family: "MinecraftRegular";
    src: url(others/minecraft-font/MinecraftRegular-Bmg3.otf);
}

body, main {
    background-color: aliceblue;
    padding: 1%;
    font-family: "MinecraftRegular";
}

header {
    padding: 2%;
}



.tabButtons {
    width: 100%;
    margin: 5px;
    padding: 1%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    background-color: chartreuse;
}

.tabButtonCol {
    flex: 0 1 20%;
    margin: 5px;
}

.tabButtonClickables{
    font-family: "MinecraftRegular";
    background-color: transparent;
    border-color: transparent; 
    border-bottom: 7%;
}

.tabButtonClickables:hover{
    border-bottom: 7%;
    border-bottom-color: blueviolet;
}

.tabButtonClickables:

.homeTabContent{
    display: flex;
    margin: 
}

.profileGif{
    flex: 0 1 50px;
    margin: 5px;
    max-width: 100%;
}